@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lobster&family=Macondo&family=Montserrat:ital,wght@0,300;0,400;0,700;1,200&family=Open+Sans:wght@300;400;700&family=Rajdhani:wght@500&family=Rubik:wght@300&display=swap');

/*font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Macondo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rubik', sans-serif;*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #364F6B;
    

}

a {
    text-decoration: none;
    color: #364F6B;
}

body {
    background: rgb(116,182,219);
background: linear-gradient(176deg, rgba(116,182,219,1) 0%, rgba(96,150,180,1) 74%);
}
.app-container { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.modal-content {
    border-radius: 10px;
    background-color: #f5f5f5;
}
.container-icon {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.icon-notes {
    width: 80px;
}

.btn-color {
    width: 35px;
    height: 35px;
    margin: 8px;
    border: 1px solid black;
}

.btn-text-1 {
    background-color: white;
}
.btn-text-2 {
    background-color: black;
}

.btn-bg-1 {
    background-color: #8c96a0;
}
.btn-bg-2 {
    background-color: #f5f5f5;
}
.btn-bg-3 {
    background-color: #85aedd;
}
.btn-bg-4 {
    background-color: #afd6af;
}
.btn-bg-5 {
    background-color: #fdcfcf;
}
.btn-bg-6 {
    background-color: #e2eeb1;
}

.note-title, .note-detail {
    border-radius: 5px;
    
}

.container-note {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    width: 25px;
    padding: 0;
}

.header {
    width: 100%;
}

.nav-header {
    border-radius: 0 0 10px 10px;
    padding: 0;
    
}

.text-my-notes{
    font-family: 'Lobster', cursive;
    color: #364F6B;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    
}

.btn-add {
    width: 4rem;
}

.card-header-note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f5f5f5;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 0 0;
    
} 

.container-title {
    overflow:hidden;
}

.container-trash {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
}

.card-body {
    display: flex;
    padding: 0 10px 0 10px;
    margin: 5px 0 5px 0;
    justify-content: start;
    align-items: start;
    background-color: #f5f5f5;
    overflow: scroll;
    
}

.card-title {
    padding: 0;
    margin: 0; 
}
.card-text {
    font-size: 1rem;
}
.note-detail {
    font-weight: bold;
}
.note-title {
    font-weight: bold;
}
.text-date {
    font-size: 0.8rem;
}

.card-note {
    margin:1% 1% 1% 1%;
    padding: 0;
    max-width: 48%;
    height: 12rem;
    background-color: #f5f5f5;
    
    
}

.card-text{
    inline-size: 100%;
    overflow-wrap: break-word;
}

.card-title {
    inline-size: 100%;
    overflow-wrap: break-word;
}

.card-footer-note {
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    padding: 0;
    margin: 0;
}
.text-date {
    margin: 0;
    padding: 0px 0px 0px 15px;
}


.note-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}


.texto-firma {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.footer, .nav-footer {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}


.text-my-notes {
    margin-left: 1rem;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
  }